// Таким чином в цей файл ми імпортуємо наші стилі

@use './partials/header';
@use './partials/footer';
@use './components/block_example';
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

// Тут ти можеш писати загальні стилі для усього проєкту

//обнулення
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
ul li {
	list-style: none;
}
//контейнер і стилі текстів
[class*="__container"] {
    max-width: 1400px;
    margin: 0 auto;
}

.title {
    font-family: 'Poppins', serif;
    font-size: 56px;
    font-weight: bold;
    color: #333333;

    &__main {
        font-family: 'Poppins', serif;
        font-size: 36px;
        font-weight: 600;
        color: #333333;
        &-white {
            font-family: 'Poppins', serif;
            font-size: 36px;
            font-weight: 600;
            color: #ffffff;
        }
    }
    &__more {
        font-family: 'Poppins', serif;
        font-size: 32px;
        font-weight: 600;
        color: #333333;
    }
    &__average {
        font-family: 'Poppins', serif;
        font-size: 24px;
        font-weight: 600;
        color: #333333;
    }
    &__small {
        font-family: 'Poppins', serif;
        font-size: 18px;
        font-weight: 600; //SemiBold
        color: #333333;
        &-medium {
            font-family: 'Poppins', serif;
            font-size: 18px;
            font-weight: 500; //Medium
            color: #333333;
        }
        &-regular {
            font-family: 'Poppins', serif;
            font-size: 18px;
            font-weight: 400; //Regular
            color: #333333;
        }
        &-regular__gray {
            font-family: 'Poppins', serif;
            font-size: 18px;
            font-weight: 400; //Regular
            color: #9C9C9C;
        }
        &-regular__white {
            font-family: 'Poppins', serif;
            font-size: 18px;
            font-weight: 400; //Regular
            color: #ffffff;
        }
    }
    &__less {
        font-family: 'Poppins', serif;
        font-size: 16px;
        font-weight: 600;
        color: #333333;

        &-medium {
            font-family: 'Poppins', serif;
            font-size: 16px;
            font-weight: 500; //Medium
            color: #333333;
        }
        &-regular {
            font-family: 'Poppins', serif;
            font-size: 16px;
            font-weight: 400; //Regular
            color: #333333;
        }
        &-regular_gray {
            font-family: 'Poppins', serif;
            font-size: 16px;
            font-weight: 400; //Regular
            color: #9C9C9C;
        }
        &-regular__white {
            font-family: 'Poppins', serif;
            font-size: 16px;
            font-weight: 400; //Regular
            color: #ffffff;
        }
    }
    &__least {
        font-family: 'Poppins', serif;
        font-size: 14px;
        font-weight: 600;
        color: #333333;

        &-medium {
            font-family: 'Poppins', serif;
            font-size: 14px;
            font-weight: 500; //Medium
            color: #333333;
        }
        &-medium_white {
            font-family: 'Poppins', serif;
            font-size: 14px;
            font-weight: 500; //Medium
            color: #ffffff;
        }
    }
}
//стиль повзунка
::-webkit-scrollbar {
    width: 12px;
    &-track-piece {
        background-color: #D9D9D9;
    }
    &-thumb {
        background-color: #2C3878;
        border-radius: 20px;
        &:hover {
            background: linear-gradient(#2C3878, #18C5BC);
        }
    }
}
//стиль інфо секції
.info {
    margin-top: 140px;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0 10px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 40px;
        & p {
            white-space: pre-line;
        }
    }
    &__picture {
        width: auto;
        margin-top: 70px;
        & img {
            width: 100%;
            max-height: 513px;
            height: auto;
        }
    }
}
@media (max-width: 690px) {
    .info {
        &__text {
            gap: 20px;
            margin-bottom: 40px;
        }
    }
}
@media (max-width: 500px) {
    .info {
        &__picture {
            margin-top: 0;
        }
    }
}
/*-------------------------------------------------------*/
.contact-prompt {
    background-color: #2C3878;
    &__content {
        margin-top: 70px;
        padding: 40px 10px;
        display: flex;
        justify-content: space-between;
    }
    &__text {
        & h1 {
            white-space: pre-line;
        }
    }
    &__invitation {
        & p {
            white-space: pre-line;
            margin-bottom: 30px;
        }
    }
}
@media (max-width: 768px) {
    .contact-prompt {
        &__content {
            display: block;
        }
        &__text {
            & h1 {
                white-space: inherit;
            }
        }
        &__invitation {
            & p {
                white-space: inherit;
            }
        }
    }
}
/*-------------------------------------------------*/
.service {
    margin-top: 100px;
    &__content {
        padding: 10px;
    }
    &__heading {
        display: flex;
        align-items: center;
        gap: 20px;
        & div {
            width: 516px;
            height: 2px;
            background-color: #000000;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px 0;
        & p {
            white-space: pre-line;
        }
    }
    &-cards {
        display: flex;
        gap: 20px;
        &__card {
            padding: 20px 27px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            box-shadow: 3px 3px 11px 3px #D9D9D9;
            & div {
                width: 63px;
                height: 63px;
                background-color: #D9D9D9;
                border-radius: 50%;
            }
        }
    }
}
@media (max-width: 768px) {
    .service {
        &-cards {
            display: flex;
            flex-direction: column;
        }
    }
}
/*---------------------------------------------------*/
.achievements-stats {
    margin-top: 100px;
    &__content {
        padding: 10px;
    }
    &__heading {
        display: flex;
        align-items: center;
        gap: 20px;
        & div {
            width: 464px;
            height: 2px;
            background-color: #000000;
        }
    }
    &__info {
        padding: 30px 0 56px 0;
        & h1 {
          white-space: pre-line;  
        }
    }
    &__progress {
        display: flex;
        justify-content: space-between;
        &-stats {
            background-color: #2C3878;
            display: flex;
            flex-direction: column;
            gap: 57px;
            padding: 44px 50px;
        }
        &-block {
            text-align: center;
            & h1 {
                font-family: 'Poppins', serif;
                font-size: 52px;
                font-weight: 400;
                color: #ffffff;
            }
        }
    }
}
@media (max-width: 1170px) {
    .achievements-stats {
        &__progress {
            flex-direction: column;
            gap: 20px;
            &-stats {
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
            }

        }
    }
}
/*------------------------------------------*/
.designer {
    margin-top: 100px;
    &__content {
        padding: 0 10px;
    }
    &__heading {
        display: flex;
        align-items: center;
        gap: 20px;
        & div {
            width: 507px;
            height: 2px;
            background-color: #000000;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px 0;
        & p {
            white-space: pre-line;
        }
    }
    &__designers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        &-card {
            position: relative;
            overflow: hidden;
            height: 400px;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #2C3878;
                z-index: 1;
            }
            & img {
                position: relative;
                z-index: 2;
                display: block;
            }
        }
        &-info {
            position: absolute;
            background-color: #ffffff;
            z-index: 10;
            width: 90%;
            padding: 17px 10px;
            bottom: 15px;
            left: 14px;
        }
    }
}
/*--------------------------------------------------------------*/
.achievement {
    margin-top: 100px;
    &__content {
        padding: 10px;
    }
    &__heading {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 36px;
        & div {
            width: 464px;
            height: 2px;
            background-color: #000000;
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        gap: 44px;
    }
    &__benefits {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        &-info {
            display: flex;
            flex-direction: column;
            gap: 20px;
            & p {
                white-space: pre-line;
            }
        }
    }
}
@media (max-width: 975px) {
    .achievement {
        &__benefits {
            display: block;
            text-align: center;
            & img {
                width: 100%;
                max-height: 365px;
                max-width: 746px;
                height: auto;
            }
        }
    }
}
@media (max-width: 425px) {
    .achievement {
        &__benefits {
            &-info {
                & p {
                    white-space: inherit;
                }
            }
        }
    }
}
/*-----------------------------------------------------*/
.location {
    &__content {
        padding: 0 10px;
    }
    &__heading {
        display: flex;
        align-items: center;
        gap: 20px;
        & div {
            width: 510px;
            height: 2px;
            background-color: #000000;
        }
    }
    &__main {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__cities {
        display: grid;
        grid-template-columns: 334px 334px;
        grid-template-rows: 150px 150px;
        gap: 30px 40px;
        &-card {
            width: 334px;
            & p {
                white-space: pre-line;
            }
        }
    }
}
@media (max-width: 925px) {
    .location {
        &__main {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__cities {
            margin: 0 auto;
        }
    }
}
@media (max-width: 720px) {
    .location {
        &__cities {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            &-card {
                width: 100%;
                & p {
                    white-space: pre-line;
                }
            }
        }
    }
}
/*--------------------------------------------*/
.gallery {
    margin-top: 60px;

    &__content {
        width: 100%;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__block {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        & img {
            width: 100%;
            max-height: 513px;
            height: auto;
        }
    }
}
/*------------------------------------------------------*/
.additionally {
    margin-top: 100px;

    &__content {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        gap: 10px;

        & p {
            white-space: pre-line;
        }

        &__overview {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & div {
                display: flex;
                justify-content: space-between;
            }
        }

        &__process {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
}
@media (max-width: 1150px) {
    .additionally {
        &__content {
            & p {
                white-space: inherit;
            }
        }
    }
}
@media (max-width: 600px) {
    .additionally {
        &__content {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
}
@media (max-width: 370px) {
    .additionally {
        &__content {
             &__overview {
                & div {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
             }
        }
    }
}
/*-------------------------------------------------*/